name: ebpf build

on: push

env:
  ANDROID_NDK_VERSION: r25b

jobs:
  android-build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true
      - name: Install tools
        run: |
          sudo apt-get update
          sudo apt-get install -y golang llvm
      # - name: Install LLVM and Clang
      #   uses: KyleMayes/install-llvm-action@v1
      #   with:
      #     version: "14.0"
      # - name: Set up NDK
      #   id: setup-ndk
      #   uses: nttld/setup-ndk@v1
      #   with:
      #     ndk-version: ${{ env.ANDROID_NDK_VERSION }}
      #     add-to-path: false
      # - name: Add ANDROID_NDK_ROOT to environment
      #   run: echo "ANDROID_NDK_ROOT=${{ steps.setup-ndk.outputs.ndk-path }}" >> $GITHUB_ENV
      # - name: Install Python
      #   uses: actions/setup-python@v4
      #   with:
      #     python-version: '3.10'
      - name: do ebpf build
        run: |
          BPF_CLANG=clang BPF_CFLAGS="-O2 -g -Wall -Werror " go generate .
          # timeout 5s go run -exec sudo .
          GOARCH=arm64 GOOS=android CGO_ENABLED=1 CC=aarch64-linux-android29-clang go build -ldflags "-w -s -extldflags '-Wl,--hash-style=sysv'" -o kprobe .
          file kprobe
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: android-ebpf-kprobe
          path: kprobe
